@media (min-width: 981px) {
    body {
        padding-top: 60px;
    }
}

body {
  font-size: 1em;
  line-height:1.3em;
  -webkit-font-smoothing: antialiased;
}

pre {
    font-size: 1em;
    line-height:1.1em;
}

.post-contributions-bar .btn {
    vertical-align: top;
}

.twitter-tweet.twitter-tweet-rendered {
    width: 100%;
}

.content h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px !important;
}

.content h4, h5 {
    margin-top: 14px;
    margin-bottom: 7px !important;
}