---
layout: default
---

<div class="content post-content">
    {% include post_header.html %}
    <div class="row">
        <div class="span8"><p>Test!!!</p> {{ content }}</div>
        <div class="span4"><table class="table table-striped">
            <tbody>
            {% for post in site.posts %}
            <tr>
                <td style="padding: 2px 8px">
                    <h6><a  href="{{ post.url }}">{{ post.title }}</a></h6>
                    <i style="font-size: 12px">{{ post.summary }}</i>

                    <p >
                        <small>
                            {{ post.date | date: "%B %e, %Y" }} - {{ post.category }} -
                            {% for tag in post.tags %}
                            <a href="/tags/{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>
                            {% if forloop.last != true %}
                            {% endif %}
                            {% endfor %}
                        </small>
                    </p>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table></div>
    </div>
</div>

<div class="row">
    <div class="span3 columns">&nbsp;</div>
    <div class="span9 column">
        <p class="pull-right">
            {% if page.previous.url %}
            <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">
                <i class="icon-chevron-left"></i>
            </a>
            {% endif %}
            {% if page.next.url %}
            <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">
                <i class="icon-chevron-right"></i>
            </a>
            {% endif %}
        </p>
    </div>
</div>

{% if page.tweet %}
<div data-tweet-id="{{page.tweet}}" class="twitter-tweet"></div>
{% else %}
<hr/>
{% endif %}

<div class="row">
    <div class="span12 columns">
        <div id="disqus_thread"></div>
    </div>
</div>